node_modules
dist
*.log
.DS_Store
.env
.env.local
coverage
*.tgz
.vscode
.idea
*.build
*.js
*.js.map
*.d.ts
*.test.ts
*.spec.ts

# Allow scripts folder JS files
!scripts/*.js

# Allow website static JS files
!packages/website/js/**